{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "mainapp/images/favicon.ico" %}">

    <title>
    {% block title %}
        Bhancha
    {% endblock %}
    </title>

    <link href="{% static "mainapp/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "mainapp/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "mainapp/css/prettyPhoto.css" %}" rel="stylesheet">
    <link href="{% static "mainapp/css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "mainapp/css/main.css" %}" rel="stylesheet">
    <link href="{% static "mainapp/css/responsive.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{% static "mainapp/js/html5shiv.js" %}"></script>
    <script src="{% static "mainapp/js/respond.min.js" %}"></script>
    <![endif]-->       
</head><!--/head-->
<body>
    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=""><img src="{% static "mainapp/images/logo.png" %}" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->


    {% block content %}
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url({% static "mainapp/images/slider/bg1.jpeg" %})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Bhancha</h1>
                                    <h2 class="animation animated-item-2">Eat healthy, eat what you like</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({% static "mainapp/images/slider/bg2.jpeg" %})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Find food you like</h1>
                                    <h2 class="animation animated-item-2">Anywhere at anytime</h2>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{% static "mainapp/images/slider/img2.png" %}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
             </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/Spk-fz3V_5Y?list=PLU5RetsT-Vkts9gRH9dJYuvfJNkbbqWlB" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static "mainapp/js/jquery.js" %}"></script>
    <script src="{% static "mainapp/js/bootstrap.min.js" %}"></script>
    <script src="{% static "mainapp/js/jquery.prettyPhoto.js" %}"></script>
    <script src="{% static "mainapp/js/jquery.isotope.min.js" %}"></script>
    <script src="{% static "mainapp/js/main.js" %}"></script>
    <script src="{% static "mainapp/js/wow.min.js" %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>
