{% extends "mainapp/base.html" %}
{% load staticfiles %}

{% block bodytags %}
style="background:url('{% static "mainapp/images/slider/bg1.jpeg" %}') no-repeat center center fixed;background-size:cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;"
{% endblock %}

{% block content %}
<div class="container">
  <form method="POST" action="{% url 'signup' %}" class="form-signin" action="" style="margin-top:80px; margin-bottom:80px;">{% csrf_token %}
    <h2 class="form-signin-heading">register now</h2>
    <div class="login-wrap">
      <p>Enter your details below</p>
      {{ form.name.errors }}
      {{ form.name }}

      {{ form.username.errors }}
      {{ form.username }}

      {{ form.password.errors }}
      {{ form.password }}

      {{ form.email.errors }}
      {{ form.email }}
      <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>

      <div class="registration">
        Already Registered.
        <a class="" href="{% url 'login' %}">
          Login
        </a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
